body {
  font-family: 'Playfair Display', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #F8C88A;
  border-left: 1px solid white;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: #66748D;
  border-radius: 0;
  border-bottom: 10px solid #EAA062;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #66748D;
  text-align: center;
  color: #EAA062;
  border-top: 1px dotted white;
}

.past {
  background-color: #766D90;
  color: white;
}

.present {
  background-color: #78576F;
  color: white;
}

.future {
  background-color: #523C58;
  color: white;
}

.saveBtn {
  border-left: 1px solid white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #ED8B7B;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
